@import '@/styles/mixins';

.loader {
  // --loading-spinner-size: 15px;
  @include adaptiv-value('--loading-spinner-size', 15, 10, 0);
  --loading-spinner-gap: 1;
  --loading-spinner-wrapper: calc(var(--loading-spinner-size) * 3 + var(--loading-spinner-gap) * var(--loading-spinner-size) * 2);
  --loading-spinner-color: rgb(87, 112, 242);

  --animation-timing: linear;
  --animation-duration: 600ms;
  --animation-count: infinite;
  --spacer: calc(var(--loading-spinner-size) * var(--loading-spinner-gap) + var(--loading-spinner-size));
  position: relative;
  width: var(--loading-spinner-wrapper);
  height: var(--loading-spinner-size);

  span {
    position: absolute;
    top: 0;
    width: var(--loading-spinner-size);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background: var(--loading-spinner-color);
    animation-timing-function: var(--animation-timing);
  }

  span:nth-child(1) {
    left: 0;
    animation: scale-up var(--animation-duration) var(--animation-count);
  }

  span:nth-child(2) {
    left: 0;
    animation: move-right var(--animation-duration) var(--animation-count);
  }

  span:nth-child(3) {
    left: calc(var(--spacer) * 1);
    animation: move-right var(--animation-duration) var(--animation-count);
  }

  span:nth-child(4) {
    left: calc(var(--spacer) * 2);
    animation: scale-down var(--animation-duration) var(--animation-count);
  }
}

@keyframes scale-up {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

@keyframes scale-down {
  from {
    transform: scale(1)
  }

  to {
    transform: scale(0)
  }
}

@keyframes move-right {
  from {
    transform: translate(0, 0)
  }

  to {
    transform: translate(var(--spacer), 0)
  }
}