@import '@/styles/mixins';

.form {
  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__item {
    position: relative;
  }

  &__input {
    @include adaptiv-value('font-size', 26, 18, 0);
    border-bottom: 3px solid #fff;
    color: $textColorPrimary;
    background: none;
    padding: 5px 0;
    width: 100%;

    &::placeholder {
      color: $textDarkColor;
    }
  }

  &__icon {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0, -50%);

    svg {
      width: 30px;
      height: 30px;
    }
  }

  &__btns {
    display: flex;
    width: 100%;
    gap: 30px;
    justify-content: space-evenly;
  }

  &__btn {
    border-radius: 50px;
    @include adaptiv-value('padding-top', 6, 3, 0);
    @include adaptiv-value('padding-right', 20, 10, 0);
    @include adaptiv-value('padding-bottom', 6, 3, 0);
    @include adaptiv-value('padding-left', 20, 10, 0);
    @include adaptiv-value('font-size', 20, 16, 0);
    white-space: nowrap;
  }
}

@media(max-width: 560px) {
  .form {
    &__btns {
      flex-direction: column;
    }
  }
}