@import '@/styles/mixins';

.home {
	width: 100%;
	height: 100%;
	min-height: 100vh;
	padding-top: 60px;
	position: relative;

	&__bg {
		position: relative;
		z-index: -1;
		object-fit: cover;
	}

	&__container {
		max-width: $maxWidthContainer - 200 + px;
		margin: 0px auto;
	}

	&__content {
		text-align: center;
		display: flex;
		flex-direction: column;
		@include adaptiv-value('gap', 60, 40, 0);
		padding: 0 30px;
		@include adaptiv-value('margin-top', 200, 130, 0);
	}

	&__title {
		@include adaptiv-value('font-size', 44, 26, 0);
		font-weight: 600;
		line-height: 1.3;
	}

	&__text {
		@include adaptiv-value('font-size', 28, 16, 0);
		color: $textDarkColor;
		line-height: 1.4;
		padding: 0 30px;
	}

	&__btns {
		*+* {
			@include adaptiv-value('margin-left', 70, 20, 0);
		}
	}

	&__btn {
		@include adaptiv-value('font-size', 20, 14, 0);
		color: inherit;
		@include adaptiv-value('padding-top', 8, 5, 0);
		@include adaptiv-value('padding-bottom', 8, 5, 0);
		@include adaptiv-value('padding-left', 50, 30, 0);
		@include adaptiv-value('padding-right', 50, 30, 0);
		border: 4px solid #14CAD6;
		border-radius: 50px;
		transition: all 0.3s ease 0s;

		&:nth-child(1) {
			background: #14CAD6;

			&:hover {
				background: none;
			}
		}

		&:nth-child(2) {
			background: none;

			&:hover {
				background: #14CAD6;
			}
		}

	}

	&__socials {
		position: absolute;
		bottom: 30px;
		left: 50%;
		transform: translate(-50%, 0);
		display: flex;
		gap: 10px;

		&::after,
		&::before {
			content: '';
			position: absolute;
			background: $auqaColorPrimary;
			@include adaptiv-value('width', 250, 70, 0);
			height: 1px;
			top: calc(50% - 1px);
		}

		&::before {
			transform: translate(-100%, 0);
			@include adaptiv-value('left', -50, -20, 0);
		}

		&::after {
			transform: translate(100%, 0);
			@include adaptiv-value('right', -50, -20, 0);
		}
	}

	&__social {
		cursor: pointer;
		transform: perspective(100px) translateZ(0px);
		transition: all 0.3s ease 0s;

		svg {
			width: 40px;
			height: 40px;
			fill: $socialIconColor;
		}

		&:hover {
			transform: perspective(100px) translateZ(20px);

			svg {
				fill: $auqaColorPrimary;
			}
		}
	}
}

@media(max-width: 991px) {
	.home {
		&__social {
			svg {
				width: 25px;
				height: 25px;
			}
		}
	}
}

@media(max-width: 768px) {
	.home {
		&__text {
			line-height: 1;
		}
	}
}

@media(max-width: 450px) {
	.home {
		&__btns {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 20px;

			*+* {
				margin-left: 0;
			}
		}

		&__btn {
			width: 60%;
			border-width: 3px;
		}

		&__content {
			padding: 0px 5px;
		}

		&__text {
			padding: 0px;
		}

		&__title {
			line-height: 1;
		}
	}
}