@import '@/styles/mixins';

.alert {
	position: fixed;
	top: 100px;
	left: -100%;
	opacity: 0;
	z-index: 1000000;
	@include adaptiv-value('padding-top', 30, 15, 0);
	@include adaptiv-value('padding-bottom', 30, 15, 0);
	@include adaptiv-value('padding-right', 60, 30, 0);
	@include adaptiv-value('padding-left', 60, 30, 0);
	background: #111;

	&.active {
		animation: animation linear 5s 1;
	}

	&__text {
		@include adaptiv-value('font-size', 26, 16, 0);
	}
}

@keyframes animation {
	0% {
		opacity: 0;
		left: -100%;
	}

	10% {
		opacity: 1;
		left: 0;
	}

	90% {
		opacity: 1;
		left: 0;
	}

	100% {
		opacity: 0;
		left: -100%;
	}
}