@import '@/styles/mixins';

.cards {
	display: flex;
	@include adaptiv-value('column-gap', 20, 10, 0);
	@include adaptiv-value('row-gap', 40, 30, 0);
	flex-direction: column;
	margin-top: 30px;
	justify-content: center;
	align-items: center;
	// width: 100%;
	overflow: hidden;
	max-width: $maxWidthContainer - 200px;
	margin: 0px auto;
	position: relative;
}