@import '@/styles/mixins';

.helper {
	color: $textColorPrimary;
	@include adaptiv-value('font-size', 14, 12, 0);
	width: calc(80% - 10px);
	max-width: 350px;
	padding: 15px 15px;
	line-height: 1.5;
	background: $trainingFormInputHelperBackground;
	z-index: 100000;
	transform: scale(0);
	opacity: 0;
	position: absolute;
}