@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');
@import 'null';
@import 'mixins';

// global styles
body {
	color: $textColorPrimary;
	font-size: 24px;
	background: #000;
	font-family: "Open Sans", sans-serif;
	scroll-behavior: smooth;
}

._container {
	max-width: $maxWidthContainer + px;
	margin: 0px auto;
	padding: 0 15px;
}

.header__active {
	background: #000;
}